@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* General Styles */

body,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 960px;
}

section {
  width: 100%; /* Ensures the section takes full width */
  display: flex;
  justify-content: center; /* Centers the inner container */
}

/* Sections */

/* Header */

header {
  width: 100%;
  display: flex;
  flex: 0 0 60px;
  background-color: #1f2937;
  justify-content: center;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 16px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: lighter;
  text-decoration: none;
}

/* Hero */

.hero {
  display: flex;
  flex: 1 0 450px;
  width: 100%;
  background-color: #1f2937;
}

.hero-left {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.hero-main-text {
  flex: 1;
  color: #f9faf8;
  font-size: 48px;
  font-weight: extra-bold;
  /* justify-content: flex-start; */
}

.hero-secondary-text {
  flex: 1;
  color: #e5e7eb;
  font-size: 18px;
  margin: 15px 15px 15px 0px;
}

.hero-button {
  flex: 0 0 30px;
  background-color: #3882f6;
  border: 0px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
  width: 120px;
  border-radius: 5px;
}

.hero-right {
  display: flex;
  background-color: #f9faf8;
  width: 80%;
  height: 50%;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image {
  background-color: #f9faf8;
}

/* Info */

.info {
  display: flex;
  flex: 1 0 450px;
  width: 100%;
}

.info-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.info-header {
  color: #1f2937;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 40px;
}

.info-content-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 px;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.info-content-img {
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  border-color: #3882f6;
}

.info-content-subtext {
  display: flex;
  color: #505050;
  width: 80%;
  flex: 1;
  text-align: center;
}
/* Quote */
.quote {
  display: flex;
  flex: 1 0 400px;
  width: 100%;
  background-color: #e5e7eb;
}
.quote-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  color: #1f2937;
  width: 80%;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  padding: 15px 0px;
}

.quote-author {
  display: flex;
  flex: 1;
  width: 80%;
  justify-content: flex-end;
  color: #1f2937;
  font-size: 24px;
  font-weight: bolder;
}

/* Call to Action */
.call-to-action {
  display: flex;
  flex: 1 0 300px;
  width: 100%;
  background-color: white;
}

.cta-container {
  display: flex;
  flex: 1;
  background-color: #3882f6;
  width: 100%;
  height: 40%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.cta-left {
  display: flex;
  color: #f9faf8;
  flex: 3;
  gap: 6px;
  flex-direction: column;
  justify-content: left;
  padding-left: 100px;
}

.cta-header {
  color: #f9faf8;
  font-size: 20px;
  font-weight: bold;
}
.cta-right {
  display: flex;
  flex: 1;
  padding-left: 40px;
}

.cta-button {
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: #f9faf8;
  color: #f9faf8;
  background-color: #3882f6;
  padding: 7px 30px;
  font-size: 14px;
}

/* footer */
footer {
  width: 100%;
  display: flex;
  flex: 0 0 60px;
  background-color: #1f2937;
  color: #f9faf8;
  justify-content: center;
  align-items: center;
}
